@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: rgb(46,46,46);
  background: linear-gradient(45deg, rgba(46,46,46,1) 0%, rgba(4,4,4,1) 100%);
  color: rgb(144, 144, 144);
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.pg-container {
  background-color: rgb(22, 22, 22);
  border: 2px solid rgb(208, 7, 0);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  width: 400px;
}

.pg-header {
  padding: 1rem;
}

.password {
  align-items: center;
  background-color: rgb(46, 46, 46);
  border-radius: 15px;
  display: flex;
  font-size: 1.5rem;
  height: 70px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.password button {
  background-color: rgb(208, 7, 0);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 0.25rem 1rem;
  position: absolute;
  opacity: 0;
  right: 0;
  transform: translate(0, 50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  top: 0;
}

.password:hover button {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(0, -80%);
}

.password:active button  {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-70%);
  transition: all .1s;
}

.pg-body {
  padding: 0 1rem 1rem;
}

.form-control {
  color: rgb(144, 144, 144);
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.form-control input {
  accent-color: red;
  border-radius: 5px;
}

.form-control input:focus {
  border: 2px solid red;
  outline: none;
}

.generator {
  background-color: rgb(158, 5, 0);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.generator:hover {
  background-color: rgb(208, 7, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
  transition: all .2s;
}

.generator:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}